* {
    font-family: 'Courier New', Courier, monospace;
    color: green;
    background: black;
}
html {
    height: 100%;
}
body {
    margin: 10px;
    overflow: hidden;
    display: flex;
    height: 100%;
    flex-direction: column;
}
.screen {
    display : flex;
    padding: 10px;
    flex: 4;
}
.msgbox {
    border: 1px dashed green;
    flex: 3;
    text-wrap: stable;
    margin-right: 10px;
    
}
.friendlist{
    border: 1px dashed green;
    padding: 0;
    margin: 0;
    flex: 1;
    text-wrap: stable;
    align-content: flex-start;
}
#msgform {
    box-sizing: border-box; 
    backdrop-filter: blur(10px);
    display: flex;
    flex: 0;
    padding-bottom: 10px;
}
#msginput {
    border: 1px solid green;
    margin: 10px;
    padding: 5px;
    flex: 3;
}
#msginput:focus { 
    outline: none; 
}
    .sendbutton { 
        border: 1px solid green; 
        padding: 0 1rem; 
        margin: 10px; 
        outline: none; 
        justify-content: flex-end; 
    }

#messages { 
    list-style-type: none; 
    margin: 0; 
    padding: 0;
}
    .sentmsg { 

    }
    .receivedmsg {
        display: inline-block;
        overflow: hidden;
        border-right: .15em solid green;
        font-size: 1.6rem;
        width: 0;
        animation: 
            typing 3s steps(20, end) forwards;
    
    }
/* animation */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
/* The typewriter cursor effect */
@keyframes blinking {
    from { border-color: transparent }
    to{ border-color: green; }
}