* {
    font-family: 'Courier New', Courier, monospace;
    color: green;
    background: black;
}
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    margin: 0;
    padding-bottom: 3rem;
}
#screen {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 2;
    padding: 10px;
    padding-right: 10px;
}
#msgbox {
    border: 1px solid blue;
    grid-column: 1;
    grid-row: 1;
    text-wrap: stable;
}
#friendlist{
    border: 1px solid red;
    grid-column: 2;
    grid-row: 1;
}
#form {
    padding: 0.25rem; 
    position: fixed; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    height: 3rem;
    box-sizing: border-box; 
    backdrop-filter: blur(10px);
    grid-column: 1/2;
    grid-row: 2;
}
#input {
    border: 1px solid green;
    padding: 0 1rem;
    margin: 0.25rem;
    width: 80%;
}
#input:focus { 
    outline: none; 
}
    .sendbutton { 
        border: 1px solid green; 
        padding: 0 1rem; 
        margin: 0.25rem; 
        outline: none;  
    }

#messages { 
    list-style-type: none; 
    margin: 0; 
    padding: 0;
}
    .sentmsg { 

    }
    .receivedmsg {
        display: inline-block;
        overflow: hidden;
        border-right: .15em solid green;
        font-size: 1.6rem;
        width: 0;
        animation: 
            typing 3s steps(20, end) forwards;
    
    }
/* animation */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
/* The typewriter cursor effect */
@keyframes blinking {
    from { border-color: transparent }
    to{ border-color: green; }
}